html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-background {
    background-image: url('/Images/electronics-store-logo-design-template-vector.jpg'); /* Path to your background image */
    background-size: cover; /* Make the image cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Don't repeat the image */
    height: 500px; /* Set the height of the background section */
    width: 100%; /* Make the background stretch the entire width */
    text-align: center; /* Center the text horizontally */
    color: white; /* Set the text color for better readability */
}